In [1]:
def imprimePar():
    for i in range (1,21):
        if i % 2 == 0:
            print(i)
imprimePar()

2
4
6
8
10
12
14
16
18
20

In [2]:
def maiuscula(a):
    return a.upper()

maiuscula('teste')

'TESTE'

In [6]:
def addElemento(lista):
    lst = []
    for item in lista:
        lst.append(item)
    lst.append('teste1')
    lst.append('teste2')
    return lst
    

addElemento(['testeA','testeB','testeC','testeD'])

['testeA', 'testeB', 'testeC', 'testeD', 'teste1', 'teste2']

In [7]:
def teste(arg1, *lst):
    print(arg1)
    for item in lst:
        print(item)
teste('teste')
teste('teste1','teste2','teste3')

teste
teste1
teste2
teste3

In [8]:
soma = lambda x,y:x+y
soma(4,5)

9

In [12]:
import pandas as pd

def estatistica(file):
    df = pd.read_csv(file)
    return df.describe()
    

    
estatistica('salarios.csv')

                  Name  Position Title Department Employee Annual Salary
count            32181           32181      32181                  32181
unique           31893            1094         35                   1105
top     PEREZ,  JOSE A  POLICE OFFICER     POLICE              $86520.00
freq                 4            9489      13570                   2497