In [2]:
n = 0
while n <= 10:
    n = n + 1
    print(n)

1
2
3
4
5
6
7
8
9
10
11

In [3]:
lista = [1, 2, 3, 4, 5]
print(lista)

[1, 2, 3, 4, 5]

In [4]:
a = "Programe "
b = "em "
c = "Python"
d = a + b + c
print(d)

Programe em Python

In [5]:
tupla = (1,2,2,3,4,4,4,5)
tupla.count(4)

3

In [6]:
dicionario = {'a':1, 'b':2,'c':3}
print(dicionario)

{'a': 1, 'b': 2, 'c': 3}

In [7]:
dicionario.update('d':4)

SyntaxError: invalid syntax (<ipython-input-7-933d0b4a2184>, line 1)

In [8]:
dicionario.update['d':4]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [9]:
dicionario['d']=4
print(dicionario)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [10]:
file = 'nomes.txt'
f = open(file,'w')
f.write('Alberto, Bernardo, Carlos, Daniel, Eduardo')
f.close()
f = open('nomes.txt', 'r')
print(f.read())

Alberto, Bernardo, Carlos, Daniel, Eduardo

In [11]:
dic = {}
print(dic)

{}

In [12]:
import pandas as pd
file_name = 'salarios.csv'
df = pd.read_csv(file_name)
df.tails()

AttributeError: 'DataFrame' object has no attribute 'tails'

In [13]:
df.tail()

,Name,Position Title,Department,Employee Annual Salary
32177,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,$86520.00
32178,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,$83616.00
32179,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,$86520.00
32180,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,$110352.00
32181,NaN,NaN,NaN,NaN