# Leitura de Dados

In [6]:
import sqlite3
import random
import time
import datetime

# Criando uma conexão
conn = sqlite3.connect('dsa.db')

# Criando um cursor
c = conn.cursor()

# Função para criar uma tabela
def create_table():
    c.exeute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTO INCREMENT NOT NULL, date TEXT, '\
             'prod_name TEXT, valor REAL)')
    
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES (002, '02-05-2016', 'teclado', 130)")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para insetir dados
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?, ?)", 
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura de dados
def leitura_todos_dados():
    c.execute('SELECT * FROM PRODUTOS')
    for linha in c.fetchall():
        print(linha)


# Leitura de registros específicos
def leitura_registros():
    c.execute('SELECT * FROM PRODUTOS WHERE valor > 60.0')
    for linha in c.fetchall():
        print(linha)

        
# Leitura de colunas específicas
def leitura_colunas():
    c.execute('SELECT * FROM PRODUTOS')
    for linha in c.fetchall():
        print(linha[3])

In [3]:
leitura_todos_dados()

(10, '2016-05-02 14:32:11', 'Teclado', 90.0)
(11, '2018-02-23 11:07:53.592246', 'Monitor', 55.0)
(12, '2018-02-23 11:07:54.878045', 'Monitor', 54.0)
(13, '2018-02-23 11:07:56.041866', 'Monitor', 55.0)
(14, '2018-02-23 11:07:57.179669', 'Monitor', 83.0)
(15, '2018-02-23 11:07:58.443268', 'Monitor', 92.0)
(16, '2018-02-23 11:07:59.544731', 'Monitor', 76.0)
(17, '2018-02-23 11:08:00.683539', 'Monitor', 75.0)
(18, '2018-02-23 11:08:01.814972', 'Monitor', 81.0)
(19, '2018-02-23 11:08:02.885683', 'Monitor', 62.0)
(20, '2018-02-23 11:08:03.987508', 'Monitor', 95.0)

In [4]:
leitura_registros()

(10, '2016-05-02 14:32:11', 'Teclado', 90.0)
(14, '2018-02-23 11:07:57.179669', 'Monitor', 83.0)
(15, '2018-02-23 11:07:58.443268', 'Monitor', 92.0)
(16, '2018-02-23 11:07:59.544731', 'Monitor', 76.0)
(17, '2018-02-23 11:08:00.683539', 'Monitor', 75.0)
(18, '2018-02-23 11:08:01.814972', 'Monitor', 81.0)
(19, '2018-02-23 11:08:02.885683', 'Monitor', 62.0)
(20, '2018-02-23 11:08:03.987508', 'Monitor', 95.0)

In [7]:
leitura_colunas()

90.0
55.0
54.0
55.0
83.0
92.0
76.0
75.0
81.0
62.0
95.0

In [8]:
# Encerrando a conexão
c.close()
conn.close()